body{
    margin: 0;
}

aside{
    margin: 0;
    width: 15%;
    background-color: rgb(54, 160, 91);
    display: flex;
    flex-direction: column;
}
.sidebar_heading{
    text-align: center;
}

.side_contant1, .side_contant2, .side_contant3, .side_contant4{
    background-color: rgb(196, 117, 49);
    border: solid 0.5px;
    margin-top: 2px;
    margin-right: 5px;
}

